.home-heading{
    font-size: 22px;
    text-align: center;
    color: rgb(241, 77, 77);
}
/* .app-home{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/logogiapthin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
} */